<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check-Up Time - Cadastro de Usuário</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/Projeto_PHP/assets/css/styles.css"> 
</head>
<body>
    <div class="main-container d-flex align-items-center justify-content-center">

        <div class="login-form-wrapper p-4 p-sm-5 shadow">
            
            <h2 class="form-title text-center mb-4">Cadastro de Usuário</h2>

            <form action="index.php?rota=auth_register" method="POST">
                <div class="mb-3">
                    <label for="nomeCompleto" class="form-label">Nome Completo</label>
                    <input type="text" class="form-control form-control-register" id="nomeCompleto" placeholder="Digite seu nome" name="nome" data-maxlength="50">
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control form-control-register" id="email" placeholder="Digite seu e-mail" name="email" data-maxlength="100">
                    <small id="email-feedback" class="form-text text-danger"></small>
                </div>

                <div class="mb-4">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="password" class="form-control form-control-register" id="senha" placeholder="Digite sua senha" name="senha" data-maxlength="20">
                    <small id="senha-feedback" class="form-text text-muted"></small>
                    <small id="senha-counter" class="form-text text-muted">0/20 caracteres</small>
                </div>

                <button type="submit" class="btn btn-entrar w-100 mb-3">Cadastrar</button>

                <div class="text-center">
                    <p class="login-link-text mb-0">
                        Já tem conta? 
                        <a href="index.php?rota=login" class="sign-up-link">Fazer login</a>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Projeto_PHP/assets/js/cadastro.js"></script>
</body>
</html>