<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="/assets/css/authCadastro.css">
</head>
<body>
    <div class="container">
        <h1>Cadastro de Usuário</h1>
        <form action="index.php?rota=auth_register" method="POST">
            <div class="input-group">
                <label for="nome">Nome Completo</label>
                <input type="text" name="nome" id="nome" placeholder="Digite seu nome" required>
            </div>
            <div class="input-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" placeholder="Digite seu E-mail" required>
            </div>
            <div class="input-group">
                <label for="senha">Senha</label>
                <input type="password" name="senha" id="senha" placeholder="Digite sua senha" required>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem conta? <a href="index.php?rota=login">Fazer login</a></p>
    </div>
</body>
</html>
